.row-external {
  width: 100%;
}

.row-internal {
  width: 24%;
  min-height: 730px;
  float: left;
  border: solid 2px rgb(11, 3, 87);
  margin: 5px;
  background-color: rgb(228, 123, 144);
}

.row-internal img {
  width: 95%;
  height: 400px;
  margin: 5px;
}

.row-internal h3 {
  font-family: "Mulish", sans-serif;
  padding: 5px 5px 5px 20px;
}

.row-internal h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px 5px 5px 30px;
}

.row-internal p {
  font-family: "Mulish", sans-serif;
  padding: 20px;
}
